<div class="page-heading" tabindex="1">
    <h2>Who We Are And What We Do</h2>
</div>
<div class="main-container" tabindex="2">
    <h4><strong>History</strong></h4>
    
    <p>In 2018, AL Constructions Materials will be celebrating a huge milestone – a 10<sup>th</sup> anniversary. This
        flourishing business has been family-owned and family-operated from its earliest days, a point of great pride for
        the Lamkane family.</p>
        
    <p>In the 2008’s, Mashesh lived in Solapur, Maharashtra; he was working for a local construction supply house.
        After a year and a half of working the counter, he was promoted to management in the construction department - complete
        with a new car, expense account and sales commissions. The General Contractors who were their customers were
        regularly approached with low prices but little customer service. Keeping that commission in mind, Mashesh made
        note of the deficit in service and tried a better approach.</p>

    <p>Service became the name of his game. Picking up coolers, coffee cups or supplies for job locations, Mashesh
        made a point of trying to think of ways to meet service needs before even asked; he made himself invaluable.
        Within 2-3 years, his sales rapidly increased, and Mashesh cast his eyes toward his own entrepreneurship.</p>
             
</div>