<h1>Available Range of Bricks</h1>
<p id="price">**DAILY DISCOUNT**</p>  
<div class="main-container">

    <div class="sub-container">
              
        <div class="polaroid">
            <picture>
                <img src="../images/2 Bricks.jpg" subTemplate="bricks" alt="Bricks">
            </picture>
            <div class="container">
                <a>Clay Bricks</a>
            </div>
        </div>

        <div class="polaroid" >
                <picture>
                    <img id="cement" src="../images/4 bricks.jpg" subTemplate="cement blocks" alt="Cement">
                </picture>
                <div class="container">
                    <a>Cement Blocks</a>
                </div>
            </div>

    </div>
</div>