<h1>Available Brand And Range of Cement</h1>
<p id="price">**DAILY DISCOUNT**</p>

<div class="main-container">

    <div class="sub-container">

        <div class="polaroid">
            <img src="../images/01 ACC-CONCRETE-PLUSXTRA-STRONG.png" alt="ACC CONCRETE PLUSXTRA STRONG">
            <div class="container">
                <a>ACC CONCRETE PLUSXTRA STRONG</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/02- ACC OPC 43 grade cement.jpg" alt="ACC OPC 43 grade cement">
            <div class="container">
                <a>ACC OPC 43 grade cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img id="cement" src="../images/03-ACC OPC 53 grade cement.jpg" alt="ACC OPC 53 grade cement">
            <div class="container">
                <a>ACC OPC 53 grade cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/04-ACC PPC Cement.jpg" alt="bricks">
            <div class="container">
                <a>ACC PPC Cement</a>
            </div>
        </div>
    </div>

    <div class="sub-container">

        <div class="polaroid">
            <img src="../images/05-cement Bharathi OPC 43 grade cement.jpg" alt="Bharathi OPC 43 grade cement">
            <div class="container">
                <a>Bharathi OPC 43 grade cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/06- Birla A1 OPC 53 grade cement.jpg" alt="Birla A1 OPC 53 grade cement">
            <div class="container">
                <a>Birla A1 OPC 53 grade cement</a>
            </div>
        </div>


        <div class="polaroid">
            <img id="cement" src="../images/07-Birla A1 PPC Cement.jpg" alt="Birla A1 PPC Cement">
            <div class="container">
                <a>Birla A1 PPC Cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/08-Birla Shakti OPC 43 grade cement.jpg" alt="Birla Shakti OPC 43 grade cement">
            <div class="container">
                <a>Birla Shakti OPC 43 grade cement</a>
            </div>
        </div>

    </div>

    <div class="sub-container">

        <div class="polaroid">
            <img src="../images/09-Jaypee OPC 53 grade cement.jpg" alt="Jaypee OPC 53 grade cement">
            <div class="container">
                <a>OPC 53 grade cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/010-Penna OPC 43 grade cement.jpg" alt="Penna OPC 43 grade cement">
            <div class="container">
                <a>Penna OPC 43 grade cement</a>
            </div>

        </div>

        <div class="polaroid">
            <img id="cement" src="../images/011-Penna OPC 53 grade cement.jpg" alt="Cement">
            <div class="container">
                <a>Penna OPC 53 grade cement</a>
            </div>
        </div>

        <div class="polaroid">
            <img src="../images/012-Penna PPC Cement.jpg" alt="Penna PPC Cement">
            <div class="container">
                <a>Penna PPC Cement</a>
            </div>
        </div>

    </div>

</div>