<h1>Contact Us</h1>
<div class="main-wrapper">
    <section class="address-wrapper">
        <address>
            <i class="fa fa-vcard-o" style="font-size:36px"></i>
            <strong>Mr. Mahesh,executive director</strong><br> 
            Visit us at:<br>
            AL Construction Material<br>
            Bale,Solapur<br>
            Maharashtra 413255,<br>
            India.
        </address>
    </section>
    <section class="map-wrapper">
        <map>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.2588133025769!2d75.8768096291847!3d17.695794699243418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5d1e534dd25b7%3A0x1fc09e53ffd201c9!2sMauli+Constuction!5e0!3m2!1sen!2sin!4v1537105245559" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </map>
    </section>
</div>    