<script src="../scripts/home.js"></script>
<section>
<div class="page-heading" tabindex="1">
   <h2>AL Construction Material</h2>
</div>

<p tabindex="2">
    Materials include manufactured products such as components, fittings, items of equipment and systems; naturally occurring
    materials such as stone, timber and thatch; and backfilling for excavations in connection with building work.
</p>

<div class="main-container" >
   
    <div class="sub-container">

        <div class="polaroid" tabindex="4">
            <picture>
                <img id="cement" src="../images/3 Cement.jpg" subTemplate="cement" alt="Cement" >
            </picture>
            <div class="container">
            <a>Cement</a>
            <p id="price">From ₹350 </p>
            <p id="price">Upto 30% Off</p>
            </div>
        </div>

        <div class="polaroid">
            <picture>
            <img src="../images/2 Bricks.jpg" subTemplate="bricks" alt="Bricks" >
            </picture>
            <div class="container">
               <a>Bricks & Blocks</a>
               <p id="price">From ₹10/unit</p>
               <p id="price">Upto 10% Off</p>
            </div>
        </div>

        <div class="polaroid">
            <picture>
            <img src="../images/5 Sand.jpg " subTemplate="Sand" alt="Sand" >
            </picture>
            <div class="container">
            <a>Sand</a>
            <p id="price">From ₹2000/brass </p>
            <p id="price">Upto 15% Off</p>
            </div>
        </div>

        <div class="polaroid">
            <picture>
                <img src="../images/19 construction-timber-&-plywood.jpg " subTemplate="Timber & plywood" alt="construction-timber-&-plywood" >
            </picture>    
            <div class="container">
                <a>Timber & plywood</a>
                <p id="price">Upto 20% Off</p>
            </div>
        </div>
    
    </div>

    <div class="sub-container">
        
        <div class="polaroid">
            <picture>
             <img src="../images/6 Coarse-Aggrigate-&-stones.jpg " subTemplate="Coarse-Aggrigate-&-stones" alt="Coarse-Aggrigate-&-stones">
            </picture>
            <div class="container">
                <a>Coarse stones</a>
                <p id="price">From ₹3000/brass</p>
                <p id="price">Upto 20% Off</p>
            </div>
        </div>

        <div class="polaroid">
            <picture>
                <img src="../images/10 Cast-Iron(CI)-product.jpg" subTemplate="Cast-Iron(CI)-product" alt="Cast-Iron(CI)">
            </picture>
            <div class="container">
                <a>Cast-Iron</a>
                <p id="price">From ₹1000/unit </p>
                <p id="price">Upto 15% Off</p>
            </div>
        </div>

        <div class="polaroid">
            <picture>
                <img src="../images/9 TMT-Steel.jpg" subTemplate="TMT-Steel" alt="TMT-Steel" >
            </picture>
            <div class="container">
                <a>Steel</a>
                <p id="price">From ₹40000/ton</p>
                <p id="price">Upto 5% Off</p>
            </div>
        </div> 

        <div class="polaroid">
            <picture>
                    <img src="../images/11 Ready Mix Concrete & Mortar.jpg" subTemplate="Ready Mix Concrete & Mortar" alt="Ready Mix Concrete & Mortar" >
            </picture>
            <div class="container">
                <a>Ready Mix Concrete</a>
                <p id="price">From ₹9000/brass </p>
                <p id="price">Upto 12% Off</p>
            </div>
        </div> 

    </div>

</div>
</section>