<script src="../scripts/Registration.js"></script>
<h3 tabindex="1">Register Your details with us :</h3>

<div class="main-wrapper">

    <section class="form-wrapper">
        <form id="first_form" method="post" action="" tabindex="2" novalidate>
            <label for="first_name">First Name:</label>
            <div>
                <input type="text" id="first_name" name="first_name" placeholder="Enter First Name" />
            </div>

            <label for="last_name">Last Name:</label>
            <div>
                <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name" />
            </div>

            <label for="mobileNum">Mobile Number:</label>
            <div>
                <input type="number" name="mobileNum" id="mobileNum" maxlength="10" placeholder="Enter Mobile Number" />
            </div>

            <label for="email">Email Id:</label>
            <div>
                <input type="email" id="email" name="email" placeholder="Enter Email Id" />
            </div>

            <div>
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </div>
        </form>
    </section>

    <section class="video-wrapper">

        <video width="100%" controls tabindex="3">
            <source src="../video/Build Your Own Brick Walls Easily.mp4" type="video/mp4"> Your browser does not support
            HTML5 video.
        </video>
        <a id="price">Our Tool's & Material's...</a>
        <audio width="100%" controls tabindex="4">
            <source src="./audio/construction materials.mp3" type="audio/mpeg"> Your browser does not support the audio tag.
        </audio>

    </section>
</div>